@use "scss/variables" as *;
@use "scss/cartes" as *;
@use "scss/mixin" as *;

body {
  background-color: $color-base;
}

.ZoneDeJeu{
  @include dimension-ZoneDeJeu();
  border: solid white;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}