@use "scss/variables" as *;
@use "scss/cartes" as *;
@use "scss/mixin" as *;

body {
  background-color: $color-base;
}

.ZoneDeJeu{
  @include dimension-ZoneDeJeu();
  position: relative;
  border: solid white;
  margin: auto;
  margin-top: 50px;
}

.main{
  width: 600px;
  height: 400px;
  margin-top: 50px;
  margin-left: 100px;
  // display: flex;
  // justify-content: center; 
  position: absolute;
  border: solid red;
}