@use "variables" as *;
@use "mixin" as *;
@use "sass:math";


@for $i from 1 through $nombre-carte-sur-la-table {
    .carte#{$i} {

        @include dimension-carte();
        
        margin-top: 20px;
        margin-left: 70px * $i;
        transform: rotate($rotation-carte-1-de-depart - ($i * -10));
        @if $i < math.div($nombre-carte-sur-la-table, 2) {
            top: ($nombre-carte-sur-la-table - $i) * 24px;        
        } @else {
            top: $i * 20px;        
        }

        .nbr_carte_tete{
            @include carte-parametre(math.div($dimension-carte-height, 6), start);
        }
        
        .symbole_carte_centre{    
            @include carte-parametre(math.div($dimension-carte-height, 2), center);
        }
        
        .nbr_carte_pied{
            @include carte-parametre(math.div($dimension-carte-height, 6), start);
            transform: rotate(180deg);
        }
    }
  }