@use "variables" as *;
@use "mixin" as *;



@for $i from 1 through 6 {
    .carte#{$i} {

        @include dimension-carte();
        
        position: absolute;
        margin-top: 80px * $i;

        .nbr_carte_tete{
            @include carte-parametre(20px, start);
        }
        
        .symbole_carte_centre{    
            @include carte-parametre(90px, center);
        }
        
        .nbr_carte_pied{
            @include carte-parametre(20px, start);
            transform: rotate(180deg);
        }
    }
  }