@use "variables" as *;

@mixin dimension-ZoneDeJeu() {
  width: 800px;
  height: 600px;
  border-radius: 40px ;
  background-color: $color-base-reduit;
}

@mixin dimension-carte() {
  // margin: 50px;
  border: solid;
  position: absolute;
  width: $dimension-carte-width;
  height: $dimension-carte-height;
  background-color: $color-carte;
  transform: rotate($nunber+deg);
  transform: rotate(0deg);
}

@mixin carte-parametre($font-size ,$text-align){
  font-size: $font-size;
  text-align: $text-align;
}